//base
@import '../base/vars';
@import '../base/reset';
@import '../base/utils';

//components
@import '../components/navbar';
@import '../components/footer';

//layout
@import '../layout/galeria';
@import '../layout/contacto';
@import '../layout/historia';
@import '../layout/turismo';
@import '../layout/mediaqueries';

.main-inicio {
    margin: 0;
    padding: 0;
    @include flexs;
    @include background;
    background-image: url(../assets/Images/foto-inicio.jpg);
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.wave_i {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.transporte {
    @include flexs;
    flex-direction: column;
    @include images (500, 500px);
    padding: 10px;
    margin: 10px;

    h2 {
        @include fonts (32px, $secondFont, bold);
        color: $secondColor;
    }

    li {
        @include fonts (28px, $mainFont, none);
        color: $secondColor;
        list-style-type: circle
    }
}

.buttom.navbar-toggler {
    color: $light-color;
}

.container-visitanos {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  text-align: start;

}

.container-mapa {
 align-items: center;
 text-align: center;
}

iframe {
    height: 100%;
    width: 60%;
    margin-inline: auto;
}

