@media (max-width: 768px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .navbar-brand {
        margin-right: auto;
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}

.formulario {
    grid-column: auto;
    width: min(92vw, 600px);
    margin-bottom: 2rem;
  }
  .campo label { margin: .5rem 0; }
  .campo input,
  .campo textarea { height: 2.5rem; }

@media (max-width: 992px) {
  .container-visitanos { grid-template-columns: 1fr; }
}

@media (max-width: 576px) {
  .container-mapa { max-width: 100%; }  
}


@media (max-width: 988px) {
    .navbar {
        display: flex;
        flex-wrap: nowrap;
    }
}

@media (max-width: 520px) {
    section.grid {
        display: flex;
        flex-direction: column;
    }
}