//base
@import '../base/vars';
@import '../base/reset';
@import '../base/utils';

// Nav

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(90deg, #4B5B39, #7C8C6A);
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  transition: all 0.3s ease;

    .nav-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
}

.nav-link,
.nav-link.active.active {
    @include flexs;
    gap: 10px;
    text-decoration: none;
    color: $secondColor;
    @include fonts (26px, $secondFont, bold);
}

.nav-link:hover,
.nav-link.active:hover {
    color: $second-light-color;
}

.logo {
  @include images(100px, 100px);
  border-radius: 100%;
  object-fit: cover;
  margin-right: auto; 
  animation: aparecer 5s ease-in-out;
}

.navbar-toggler {
    border: none;
    font-size: 1.5rem;
    color: $second-light-color;
}
