/*$mainColor: rgb(108, 125, 81);
$secondColor: rgb(66, 40, 28);
$light-color: rgba(193, 185, 162, 0.778);
$second-light-color: rgb(228, 224, 212);*/

$mainColor: #4B5B39;
$secondColor: #3D2F1B;
$light-color: #E8E4D8;
$second-light-color: #F4F1E1;

$mainFont: 'Poppins';
$secondFont: 'PatuaOne';
